.share {
  height: 21px;
  font-size: 11px;
}

.box{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.box  h3{
  font-size: 1.6em;
}
.box p{font-size: 1em;}


.box > div{
  margin: 60px 120px;
}

.img-product{width: 320px;}